.content {
	height: calc(100vh - 160px);
	padding: 50px;
}

.content__title {
	font-size: 1.5rem;
	text-align: left;
}

.content__rows {
	gap: 30px;
	display: flex;
	flex-flow: row wrap;
}

.rows__row {
	height: calc(100vh - 280px);
	text-align: left;
	max-width: 300px;
	padding: 30px;
	background-color: rgb(95, 95, 95);
	border-radius: 10px;
}

.row__item.row__folder:hover {
	background-color: rgb(99, 224, 255);
}

.row__item:hover:not(.row__folder) {
	background-color: rgb(73, 73, 73);
}

.row__item {
	color: white;
	transition: background-color 0.3s;
	cursor: pointer;
	background-color: rgb(53, 53, 53);
	padding: 10px;
	border-radius: 10px;
}

.row__folder {
	min-width: 75 px;
	color: black;
	background-color: rgb(73, 192, 221);
}

.rows__nocontent {
	color: white;
}
