@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

html {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

body,
#root,
.App {
	height: 100%;
	width: 100%;
}

.App {
	display: flex;
	flex-flow: column;
}

a {
	color: black;
	font-weight: bold;
}

.light {
	background-color: white;
	color: black;
	transition: background-color 0.3s, color 0.3s;
	header {
		background-color: rgb(26, 28, 43);
	}
	.download-container {
		background-color: rgba(26, 28, 43, 0.6);
		color: white;
		button {
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 5px;
			border: 2px solid rgb(26, 28, 43);
		}
	}
	.sign-container {
		background-color: rgba(26, 28, 43, 0.6);
		color: white;
		form > div > input {
			background-color: rgba(255, 255, 255, 0.5);
		
		}
		
		form > div > input:focus-visible {
			outline: whitesmoke;
			border: 3px solid whitesmoke;
		}
	}
}

.dark {
	background-color: rgb(26, 28, 43);
	color: white;
	transition: background-color 0.3s, color 0.3s;
	header {
		background-color: rgb(0, 0, 0);
		a {
			color: white;
		}
	}
	.download-container {
		background-color: rgba(255, 255, 255, 0.1);
		button {
			background-color: rgba(255, 255, 255, 0.2);
			color: white;
			border-radius: 5px;
			border: 2px solid white;
		}
	}
	.sign-container {
		background-color: rgba(255, 255, 255, 0.1);
		
		form > div > input {
			background-color: rgba(255, 255, 255, 0.2);
			color: white;
		}
		
		form > div > input:focus-visible {
			outline: rgb(3, 7, 39);
			border: 3px solid rgb(3, 7, 39);
		}
	}
}

header {
	height: 60px;
	display: flex;
	.placeholder {
		flex: 1;
		width: 100%;
	}
	nav {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		a {
			color: white;
		}
	}
	.appearence-switch {
		width: 100%;
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0 10px 0 0;
		.appearance-icon {
			width: 30px;
			display: none;
			cursor: pointer;
			color: white;	
			img {
				font-size: 1rem;
			}
		}
	}
}

.welcome-container {
	width: 100%;
	.welcome-title {
		padding: 40px;
		font-size: 3rem;
		font-weight: bold;
	}
	.welcome-section {
		background-color: black;
		width: 100%;
		padding: 30px 0;
		display: flex;
		justify-content: center;
		.welcome-button-container {
			max-width: 200px;
			width: 100%;
			.welcome-button {
				width: 100%;
				padding: 10px;
				background-color: rgb(118, 118, 250);
				border-radius: 5px;
				border: 2px solid white;
				cursor: pointer;
			}
		}
	}
	.welcome-button-container {
		max-width: 500px;
		.welcome-button {

		}
	}
}

ul {
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0 0 0 10px;
	gap: 20px;
}

li {
	padding: 10px;
}

a {
	text-decoration: none;
}

main {
	flex: 1;
	width: 100%;
}

.center {
	height: calc(100vh - 60px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plan-container {
	/* width: 100%; */
	height: calc(100vh - 160px);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 40px;
	padding: 50px;
}

.plan-wrapper {
	max-width: 300px;
	width: 100%;
	height: 400px;
	background-color: orange;
	display: flex;
	flex-flow: column;
	.plan-header {
		height: 50px;
		background-color: rgba(0, 0, 0, 0.171);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		.plan-title {
			text-align: center;
			color: white;
			font-size: 2rem;
		}
	}
	.plan-des {
		display: flex;
		align-items: center;
		padding: 10px;
		flex: 1;
	}
	.plan-button {
		margin: 20px;
	}
	.plan-button > button {
		width: 100%;
		padding: 10px;
		// background-color: rgb(79, 79, 255);
		border: 3px solid black;
		cursor: pointer;
	}
}
.plan-free {
	background-color: rgb(143, 143, 233);
}
.plan-pro {
	background-color: rgb(78, 78, 206);
}
.plan-enterprise {
	background-color: rgb(30, 30, 88);
}


.sign-container {
	width: 400px;
	padding: 30px;
	.sign-title {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 2rem;
		text-align: center;
	}
	
	form {
		display: flex;
		flex-flow: column;
		gap: 20px;
	}
	
	form > div {
		padding: 10px;
		display: flex;
		flex-flow: column-reverse;
	}
	
	form > div > label {
		width: 0;
		transition: width 0.2s ease-in-out;
		padding: 0 0 5px 0;
	}
	
	form > div > input {
		padding: 10px;
		border: 3px solid transparent;
		outline: none;
		transition: all 0.2s;
		border-radius: 3px;
	
	}
	
	form > div > input:focus-visible + label {
		width: 100%;
		text-align: center;
	}
}


.download-container {
	width: 300px;
	height: 100px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	.download-title {
		font-size: 0.9rem;
	}
	.download-button {
		margin: 0 20px 20px 20px;
		padding: 10px;
		cursor: pointer;
		filter: opacity(100%);
		transition: filter 0.2s;
	}
	.download-button:hover {
		filter: opacity(70%);
	}
}

.welcome-container {
	height: 100%;
	.welcome-title {

	}
}

@media screen and (max-width: 600px) {
	main {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: 100%;
	}

	.sign-container {
		width: 100%;
		height: 100%;
	}
}



.errorMessage {
	color: red;
}